.input {
    margin-top: 50px;
    display: flex;
    flex-direction: column;  /* stacks input and button vertically */
    align-items: center;      /* centers them horizontally */
    gap: 10px;                /* adds space between them */
  }

.input input {
    color: green;
    font-size: 18px;
    padding: 8px;
    text-align: center;
    flex-direction: column;
    margin-bottom: 20px;
  }

.input ::placeholder {
    display: flex;
    justify-content: center;
    color: blueviolet;
  }

.input button {
    background-color: white;
    color: black;
    border-radius: 30px;
    width: 80px;
    height: 40px;
  }
 