.header{
  text-align: center;
  justify-content: center;
  background-color: blueviolet;
  color: white;
}

.header h1{
  margin: 0;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
